<h1><%= @beer.name %></h1>
<ul>
  <li>ABV: <%= @beer.abv %></li>
  <li>Description: <%= @beer.description %></li>
  <li>Style: <%= @beer.style.name %></li>
  <li>Organic? <%= @beer.is_organic %></li>
  <li>Labels: <%= @beer.labels %></li>
  <li>Food pairings: <%= @beer.food_pairings %></li>
</ul>